
 /* style tabs */
  
  .nav-tabs {
      background-color:#E59EDD;
      color:#FFFFFF;
      padding:10px;
      left:0;
      top:0;
      width:100%;
      position:fixed;
    }
    
   /* style selected tab when hovering */
  .nav-tabs>li.active>a:hover, .nav-tabs>li>a:hover,.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:active{
    background-color:#7030A0;
    border: 1px solid #002060;
    color:#FFFFFF;
    border-radius:10px;
  }
  
  /* style unselected tab*/
  .nav-tabs>li>a{
    background-color:#D86ECC;
    color:#FFFFFF;
    border: 1px solid #002060;
    border-radius:10px;
    margin:0 5px 0 5px;
  }
  
/* style button */

  .btn-default, .btn-default:focus {
    background-color:#4E95D9;
    color:#FFFFFF;
    font-weight:bold;
    border: 0px;
    outline: none;
  }
  
  .btn-default:hover:not(.btn-file) {
    background-color:#4E95D9;
    transform:scale(1.2);
    color:#FFFFFF;
    border: 0px;
    outline: none;
  }
  
  .btn:focus-visible {
    outline: none;
    border: 0px;
  }
  
  .btn:active{
    opacity:0.7;
    box-shadow: none;
  }
  
  .form-control{
    background-color:#FFFFFF;
    color:black;
    font-weight:bold;
  }
  
 .checkbox, .radio {
    margin-top: 0px;
  }
 
  #scanSelectionDiv #smallCheck span{
    font-size:12px;  
  }
  
/* style flex */

  .row {
    display:flex;
  }
  
  .column {
    display:flex;
    flex-direction:column;
  }
  
 /* style text */
   
   .body {
     color: #000000;
     font-size: 16px;
   }
   
   .subbody {
     color:#808080;
     font-size:12px;
   }
   
   span {
     color: #000000;
     font-size: 16px;
   }
   
   .header {
     color: #002060;
     font-size: 16px;
     font-weight: bold;
   }
   
   .button {
     color: #FFFFFF;
     font-size: 16px;
   }
   
   .log {
     color: #000000;
     font-size: 16px;
   }
   
   #logDiv {
     height:20vh;
   }
   
   #logDiv:hover{
     height:60vh;
     transform:translateY(-40vh);
   }
   
  #modelTypeSelection {
    margin-bottom:-20px;
  }
 

 

 
